@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <h2>Hello world!</h2>
<h1> Hello Hello </h1>
<h4> Hello Hello Hello4</h4>
<h2> test Test </h2>
</body>
</html>